<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="Mr.Bean"/>
  	<add key="AWSRegion" value="eu-west-1" />
    <add key="AWSAccessKey" value="******xxxx**********" />
    <add key="AWSSecretKey" value="*+x**+*****x****x**x*x*******x*x******x*" />
    <add key="AWSSamplePrefix" value="ec2-sample-" />
    <!-- add key="S3BucketName" value="testbucket-mrs-bean-20160616" / obsolete -->
  </appSettings>
</configuration>
