<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="Mr.Bean"/>
    <!-- add key="AWSRegion" value="sa-east-1" /-->
    <!-- add key="AWSRegion" value="ap-southeast-1" /-->
    <!-- add key="AWSRegion" value="eu-central-1" /-->
    <!-- add key="AWSRegion" value="eu-west-1" /-->  
    <add key="AWSRegion" value="eu-west-1" />
    <add key="AWSAccessKey" value="******xxxx**********" />
    <add key="AWSSecretKey" value="*+x**+*****x****x**x*x*******x*x******x*" />
    <add key="AWSSamplePrefix" value="ec2-" />
    <!-- add key="S3BucketName" value="testbucket-mrs-bean-20160616" / obsolete -->
  </appSettings>
  <system.web>
    <sessionState
      mode="Custom"
      customProvider="DynamoDBSessionStoreProvider">
      <providers>
        <add name="DynamoDBSessionStoreProvider"
          type="Amazon.SessionProvider.DynamoDBSessionStateStore, AWS.SessionProvider"
          AWSProfileName="AWS Default"
          AWSProfilesLocation=".aws/credentials"
          Table="ASP.NET_SessionState"
          Region="sa-east-1"
          />
      </providers>
    </sessionState>
  </system.web>
</configuration>
